*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.thm
*.swp
*.swo
Literature_Translation.pdf
Paper.pdf
Proposal.pdf
Thesis.pdf
graduation/landt/references
graduation/thesis/references
graduation/paper/references
graduation/proposal/references
graduation/literature